<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Flirt Phrase</title>
</head>
<body>
    <div style="display: flex; max-width: 500px; margin: 0 auto;"> 
        <p style="font-size: 2.5rem;"> 
            <strong th:text="${pickupLine} ?: 'No Quote'">
                No Quote
            </strong>
        </p>
    </div>
</body>
</html>