<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figures List</title>
</head>

<body>
<style>
    .tf-btn-link {
        padding: .5rem .5rem;
        text-decoration: underline;
        border: 1px solid #dd5a4c;
        transition: background-color ease-in 150ms;
        color: #74170f;
        font-weight: bold;
    }
    .tf-btn-link:hover {
        background-color: #f9beb8;
    }
</style>
<h1>Figures List</h1>
<a th:href="@{/figures/new}" class="tf-btn-link">Create</a>
<div>
    <ul>
        <li th:each="fg : ${figures}" style="
            text-decoration: unset;
            border: 3px solid salmon;
            display: flex;
            flex-flow: column wrap;
        ">
            <div>
                <p style="display: inline-flex; margin-right: 1.5rem">
                    <strong th:text="${fg.name} + ' ('+ ${fg.id} + ')'"></strong>
                </p>
                <a th:href="@{'/figures/update/' + ${fg.id}}" class="tf-btn-link">Edit</a>
                <a th:href="@{'/figures/' + ${fg.id}}" class="tf-btn-link">Show</a>
            </div>
            <p th:text="${fg.collectGrp?.name} ?: 'No Group'"></p>
            <small th:text="${fg.releaseYear}"></small>
        </li>
    </ul>
</div>
</body>

</html>